SECRET_KEY= change-me 
DATABASE_URL=sqlite:///pgm_system.db 
MOCK_MODE=false   #eğer sahte verılerle deneme yapılacaksa true . WMIC ile çalıştırılacaksa false
INVENTORY_BACKEND=wmic 
WMIC_API_KEY= degistir
WMIC_DOMAIN= 
WMIC_USER= 
WMIC_PASSWORD=

